<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>幸運轉盤 - Elon Tools</title>
  <script type="module" crossorigin src="../../../assets/turntable-DNAniSOp.js"></script>
  <link rel="modulepreload" crossorigin href="../../../assets/index-W4l4sIzX.js">
  <link rel="stylesheet" crossorigin href="../../../assets/index-DC2SBtmY.css">
  <link rel="stylesheet" crossorigin href="../../../assets/turntable-gNFdUXUD.css">
</head>
<body class="bg-slate-50 dark:bg-slate-900 transition-colors duration-300">
    <div id="app"></div>
</body>
</html>
